*.csproj
*.sln
Library/
obj/
Temp/
UserSettings/
Logs/
ProjectSettings/
Packages/
.vs/Zilliqa-Unity-SDK/v16/.suo
*.ide
*.ide-wal
*.ide-shm
.vs/
*.csproj
Zilliqa-Unity-SDK.sln
*.csproj
*.sln
TextMesh Pro/
Assembly-CSharp.csproj
Zilliqa-Unity-SDK.sln
